.list-group-item {
  margin: 5px;
}

.type-icon {
  margin-top: 3px;
}

.private-icon {
  margin-top: 5px;
}

.list-reaction-icon {
  padding-right: 2px;
}

.hero {
  padding: 10px;
  height: 627px;
}

.hero h1 {
  text-align: center;
  margin-top: 18%;
  font-size: 32px;
}

.hero .hero-content{
  text-align: center;
}

.map-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-mask {
  background-image: radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0) 60%, #111 85%);
  background-image: -ms-radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0), #111 85%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 200, from(rgba(225, 225, 225, 0)), to(#111), color-stop(60%, rgba(225, 225, 225, 0)), color-stop(85%, #111));
  background-image: -webkit-radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0) 60%, #111 85%);
  display: block;
  position: absolute;
  top: 81px;
  pointer-events: none;
}
.map {
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  height: 100%;
}
