body {
  font-weight: 300;
}

.list-group-item:focus, {
  outline: none !important;
  box-shadow:none;
}

.navbar-brand {
  font-family: "Amatic SC";
}

.nav, .btn {
  font-family: "Amatic SC";
}

.list-group-item {
  margin: 5px;
}

.list-group-item-heading {
  word-wrap: break-word;
}

.type-icon {
  margin-top: 3px;
}

.private-icon {
  margin-top: 5px;
}

.list-reaction-icon {
  padding-right: 2px;
}

.hero {
  padding: 10px;
  height: 627px;
}

.hero h1 {
  text-align: center;
  margin-top: 18%;
  font-size: 32px;
}

.hero .hero-content{
  text-align: center;
}


.map-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-mask {
  background-image: radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0) 50%, #111 85%);
  background-image: -ms-radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0), #111 85%);
  background-image: -webkit-gradient(radial, center center, 0, center center, 200, from(rgba(225, 225, 225, 0)), to(#111), color-stop(50%, rgba(225, 225, 225, 0)), color-stop(85%, #111));
  background-image: -webkit-radial-gradient(center center, circle closest-side, rgba(225, 225, 225, 0) 50%, #111 85%);
  display: block;
  position: absolute;
  pointer-events: none;
  outline: 3px solid #111;
  border: 3px solid #111;
}
.map {
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  height: 100%;
  outline: 3px solid #111;
  border: 3px solid #111;
}

.votedOn {
  border-color: green;
}
.atwho-view {
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background: white;
    color: black;
    border: 1px solid #DDD;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-width: 120px;
    max-height: 200px;
    overflow: auto;
    z-index: 11110 !important;
}

.atwho-view .cur {
    background: #3366FF;
    color: white;
}
.atwho-view .cur small {
    color: white;
}
.atwho-view strong {
    color: #3366FF;
}
.atwho-view .cur strong {
    color: white;
    font:bold;
}
.atwho-view ul {
    /* width: 100px; */
    list-style:none;
    padding:0;
    margin:auto;
}
.atwho-view ul li {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    /* border-top: 1px solid #C8C8C8; */
}
.atwho-view small {
    font-size: smaller;
    color: #777;
    font-weight: normal;
}