.list-group-item {
  margin: 5px;
}

.type-icon {
  margin-top: 3px;
}

.private-icon {
  margin-top: 5px;
}

.list-reaction-icon {
  padding-right: 2px;
}

.hero {
  padding: 10px;
  height: 627px;
}

.hero h1 {
  text-align: center;
  margin-top: 18%;
  font-size: 32px;
}

.hero .hero-content{
  text-align: center;
  
}
